<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Minha Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- List of Text Items -->
<ion-list>
    <ion-item>
      <ion-label>Death Note</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Attack On Titans</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>The Seven Deadly Sins</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Demon Slayer</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sword Art Online</ion-label>
    </ion-item>
  </ion-list>
        
</ion-content>
